.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 50px;
}

.city_pic {
  width: 300px;
}

p {
  max-width: 400px;
  font-size: 15px;
  margin: 10px 50px;
}

.deleteEach {
  background-color: green;
  color: #fff;
  border: 1px solid black;
  padding: 5px 15px;

}

.deleteEach:hover {
  color: yellow;
}

.DeleteAll {
  background-color: red;
  padding: 5px 15px;
  color: #fff;
  border: 0.7px solid black;
  margin-top: 20px;
  font-size: 16px;
}

.DeleteAll:hover {
  color: black;
}


.showMoreBtn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-style: italic;
}

h3 {
  margin-top: 50px;
  font-style: italic;
  text-decoration: underline;
}

.slider {
  margin: 10px 50px;
  text-transform: uppercase;
  background-color: rgb(0, 140, 255);
  color: #fff;
  padding: 5px 15px;
  border: 1px solid #fff;
}

.slider:hover {
  text-decoration: underline;
  background-color: #fff;
  color: rgb(0, 140, 255);
  border: 1px solid rgb(0, 140, 255);
  
} 